<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta name="keywords" content="">
    <meta name="description" content="" />
    <meta name="google-site-verification" content="qkvk3waRaU_9flJRq0oi6G-mhWQifBFHY7m9pRqxVAA" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title><%= title %></title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-png" />
    <!-- CSS -->
    <!--[if lt IE 9]>
        <link href="stylesheets/ie.css" rel="stylesheet" type="text/css">
    <![endif]-->
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet" />
    <link href="stylesheets/bootstrap.css" rel="stylesheet" />
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma" rel="stylesheet">
    
</head>
<body>

    <header id="acmm-header-container">
        <div class="container">
            <div class="acmm-nav-logo">
                <a href="/">
                    <img src="images/yellow-logo-mini.png" alt="Acmm" />
                    <label>No Ato - ACMM</label>
                </a>
            </div>
            <nav class="nav-collapse">
                <ul>
                    <li><a class="acmm-link-menu active" href="#acmm-banner-container">INÍCIO</a></li>
                    <li><a class="acmm-link-menu" href="#acmm-about-us-container">SOBRE NÓS</a></li>
                    <li><a class="acmm-link-menu" href="#acmm-services-container">SERVIÇOS</a></li>
                    <li><a class="acmm-link-menu" href="#acmm-contact-container">CONTATO</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="acmm-banner-container">
        <div class="container-fluid">
            <div class="row">
                <div class="acmm-banner-image col-lg-12">
                    <div class="col-lg-9 col-md-8 col-sm-9 col-xs-10">
                        <div class="acmm-banner-description col-lg-6 col-md-7 col-sm-7 col-xs-9">
                            <span class="acmm-banner-description-ini">No Ato - ACMM</span>
                            <ul>
                                <li>Estamos passando por um momento difícil na segurança pública do estado.</li>
                                <li class="acmm-banner-space">Devemos zelar por nossos lares e familiares.</li>
                                <li class="acmm-banner-space">Atendemos a demandas de pequeno, médio e grande porte, sempre oferecendo um serviço de qualidade com valores que se encaixam a seu orçamento.</li>
                                <li class="acmm-banner-space">Em nosso menu, vá até o link <a href="#acmm-contact-container">CONTATO</a> e nos envie suas dúvidas ou propostas para analisarmos.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="acmm-about-us-container">
        <div class="container-fluid">
            <div class="row">
                <div class="acmm-about-us-background">
                    <h2 class="acmm-about-us-title">Qualidade, a nossa marca.</h2>
                    <p>
                        Somos uma empresa com larga experiência no mercado, adquirida por mais de 10 anos de atuação na prestação de serviços de limpeza, conservação, portaria e segurança patrimonial.
                    </p>
                    <p>
                        Trabalhamos com materiais e equipamentos de excelente qualidade e contamos com colaboradores treinados e supervisores capacitados para melhor atender sua demanda, de forma personalizada com eficiência e rapidez.
                    </p>
                    <p>
                        Na certeza de podermos disponibilizar a melhor gama de benefícios, colocamo-nos a <a href="#acmm-contact-container">disposição</a> para maiores esclarecmentos.<br />
                        Afinal o mais importante pra nós é, a satisfação de nossos clientes!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="acmm-services-container">
        <div class="container-fluid acmm-services-background">
            <div class="row col-sm-12 col-xs-12">
                <h2 class="acmm-title">À seu dispor</h2>

                <div class="visible-sm col-sm-2">
                </div>

                <div class="service-box after-visible-false text-center col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="acmm-services-info-box-header acmm-services-rounded-image">
                        <ul>
                            <li>
                                <img src="images/diamond.png" />
                            </li>
                        </ul>
                    </div>
                    <div class="acmm-services-info-box-body">
                        <ul>
                            <li>
                                <h5>Excelência</h5>
                            </li>
                            <li>
                                <p>Profissionais capacitados para prestar um serviço qualificado, visando sempre o melhor para nossos clientes.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="service-box text-center col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="acmm-services-info-box-header acmm-services-rounded-image">
                        <ul>
                            <li>
                                <img src="images/motorcyclist.png" />
                            </li>
                        </ul>
                    </div>
                    <div class="acmm-services-info-box-body">
                        <ul>
                            <li>
                                <h5>Equipe motorizada</h5>
                            </li>
                            <li>
                                <p>Contamos com motocicletas e automóveis para cobrir a área segurada, seja ele de pequeno, médio ou grande porte.</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="visible-sm col-sm-2">
                </div>
                <div class="visible-sm col-sm-12">
                </div>
                <div class="visible-sm col-sm-2">
                </div>

                <div class="service-box text-center after-visible-false-sm col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="acmm-services-info-box-header acmm-services-rounded-image">
                        <ul>
                            <li>
                                <img src="images/circular-arrow-clock.png" />
                            </li>
                        </ul>
                    </div>
                    <div class="acmm-services-info-box-body">
                        <ul>
                            <li>
                                <h5>Serviço 24 horas</h5>
                            </li>
                            <li>
                                <p>Nossas equipes estarão 24 horas por dia, 7 dias por semana a sua disposição para garantir segurança em tempo integral.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="service-box text-center col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="acmm-services-info-box-header acmm-services-rounded-image">
                        <ul>
                            <li>
                                <img src="images/monitor-screen.png" />
                            </li>
                        </ul>
                    </div>
                    <div class="acmm-services-info-box-body">
                        <ul>
                            <li>
                                <h5>Monitoramento</h5>
                            </li>
                            <li>
                                <p>Possuímos monitoramento por câmeras e controle eletrônico de cancelas, para maior controle e agilidade nos acessos.</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="visible-sm col-sm-2">
                </div>
            </div>
        </div>
    </section>

    <section id="acmm-contact-container">
        <div class="container-fluid">
            <div class="row">
                <div class="acmm-contact-image col-lg-12">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div id="acmm-contact-form">
                            <form id="acmm-form" class="acmm-form" action="/enviaremail" method="post">
                                
                                <small id="acmm-name" class="acmm-validation">Preencha o campo "Nome"!</small>
                                <p class="acmm-contact-text">
                                    <input id="acmm_contact_name" name="acmm_contact_name" type="text" class="feedback-input acmm-contact-name" placeholder="Nome" maxlength="120" required/>
                                </p>

                                <small id="acmm-email" class="acmm-validation">Preenchimento corretamente o campo "E-mail"!</small>
                                <p class="acmm-contact-email">
                                    <input id="acmm_contact_email" name="acmm_contact_email" type="email" class="feedback-input acmm-contact-email" placeholder="E-mail" maxlength="40" required/>
                                </p>

                                <small id="acmm-message" class="acmm-validation">Preencha o campo "Mensagem"!</small>
                                <p class="acmm-contact-text">
                                    <textarea id="acmm_contact_message" name="acmm_cntact_message" class="feedback-input acmm-contact-message" placeholder="Mensagem" maxlength="500" required></textarea>
                                </p>

                                <small id="acmm-recaptcha-verification" class="acmm-validation">Falha na verificação do recaptcha! Tente novamente!</small>
                                <small id="acmm-recaptcha" class="acmm-validation">Marque a opção "Não sou um robô"!</small>
                                <div class="acmm-contact-recaptcha">   
                                    <div class="g-recaptcha" data-sitekey="6LdnsDIUAAAAALejBtAT9qI9n0b1vPaHWDfb0dfj"></div>
                                </div>

                                <div class="acmm-contact-submit">
                                    <input id="acmm-contact-btn-submit" type="submit" value="ENVIAR" />
                                    <div class="acmm-contact-ease"></div>
                                </div>

                                <div class="visible-sm">
                                    <a href="#openModal" title="Open">
                                        <input id="acmm-open-modal" type="button" value="Open"/>
                                    </a>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal E-mail Sucesso -->
    <div id="openModal" class="modalDialog">
        <div>   
            <a id="acmm-close-modal" href="#close" title="Close" class="close">X</a><br />
            <p id="acmm-status-sucess-msg">Seu e-mail foi enviado com sucesso.</p>
            <p id="acmm-status-fail-msg">Houve um erro em sua requisição! Tente novamente!</p>
            <p id="acmm-status-valid-msg">Preenchimento de campos obrigatório!</p>
        </div>
    </div>

    <footer id="acmm-footer-container">
        <div class="container-fluid">
            <div class="row">
                <small class="text-center">© 2017 - No Ato ACMM Prestação de Serviços LTDA - ME</small>
            </div>
        </div>
    </footer> 
    
    <!-- Script -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <script src="https://www.google.com/recaptcha/api.js" type="text/javascript"></script>
    <script src="javascripts/jquery-3.2.1.js" type="text/javascript"></script>
    <script src="javascripts/global.js" type="text/javascript"></script>
    <script src="javascripts/responsive-nav.js" type="text/javascript"></script>
    <script src="javascripts/jquery.form.min.js" type="text/javascript"></script>
    <script src="javascripts/fastclick.js" type="text/javascript"></script>
    <script src="javascripts/scroll.js" type="text/javascript"></script>
    <script src="javascripts/fixed-responsive-nav.js" type="text/javascript"></script>

</body>
</html>